@charset "UTF-8";

:root {
   --color-01: #F227AB;
   --color-02: #AB04D9;
   --color-03: #350D8C;
   --color-04: #2B0A73;
   --color-05: #5ECAE6;

   --font-padrao: 'Poppins', sans-serif;
   --font-secundaria: 'Bebas Neue', cursive;
}

/* html {
   scroll-behavior: smooth;
} */

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

.material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 48
}

body {
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 100px;
   font-family: var(--font-padrao);
   font-weight: 500;
   color: white;
   background: linear-gradient(180deg, var(--color-01), var(--color-04));
   overflow-x: hidden;
}

main {
   width: 50%; min-width: 300px; max-width: 500px;
   height: auto;
   padding: 40px;
   /* background: linear-gradient(180deg, var(--color-03)); */
   background-color: var(--color-04);
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 30px;
}
main .informations {
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
main .links {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
main .links > .link {
   width: 100%; min-width: none; max-width: 380px;
   height: auto;
   padding: 10px 20px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   transition: all 0.3s;
}
main .links > .link.impar {
   background-color: var(--color-01);
}
main .links > .link.par {
   background-color: var(--color-05);
}
main .links > .link:hover {
   cursor: pointer;
   transition: all 0.3s;
   transform: translate(0, -5px);
   background-color: #662be6;
}

img {
   width: 120px;
   transition: all .7s;
}
img:hover {
   transition: all .7s;
   transform: scale(105%);
}


.modal {
   width: 80%; min-width: 310px; max-width: 550px;
   height: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: var(--color-03);
   box-shadow: 0px 0px 20px #000000f5;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.modal p {
   font-size: 2rem;
}
.modal button {
   padding: 5px 15px;
   font-family: var(--font-padrao);
   font-weight: 600;
   font-size: 1rem;
   background-color: var(--color-01);
   border: none;
   border-radius: 20px;
   color: white;
   cursor: pointer;
   transition: all .4s;
}
.modal button:hover {
   cursor: pointer;
   transition: all .4s;
   transform: scale(105%);
   background-color: var(--color-02);
}

/* Manipulations JS */
.modal {
   display: none;
}
.modal.active {
   display: flex;
}

footer p {
   font-weight: 300;
}







@media (max-height: 700px) {
   body {
      display: block;
   }
   main {
      margin: 80px auto 0 auto;
   }
   footer {
      text-align: center;
      margin: 50px auto 0 auto;
   }
}

@media (min-width: 1920px) {
   :root {
      font-size: 20px;
   }
   main .links .link {
      padding: 12.5px 25px;
   }
}
@media (min-width: 2200px) {
   :root {
      font-size: 24px;
   }
   img {
      width: 150px;
   }
   main .links .link {
      padding: 15px 30px;
   }
}