@charset "UTF-8";

:root {
   --color-01: #F227AB;
   --color-02: #AB04D9;
   --color-03: #350D8C;
   --color-04: #2B0A73;
   --color-05: #5ECAE6;

   --font-padrao: 'Poppins', sans-serif;
   --font-secundaria: 'Bebas Neue', cursive;
}

/* html {
   scroll-behavior: smooth;
} */

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

.material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 48
}